/* Welcome.css */

.welcome-container {
  height: 100vh;
  background-image: url("C:\Users\vedha reddy\OneDrive\Desktop\vedha\iphone-830480_1280.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
/* Welcome.css */


  
.welcome-header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.welcome-header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #FFD700; /* Optional: Gold color for the title */
}

.welcome-header p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.get-started-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #007BFF; /* Optional: Blue color for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
